</main>

<footer class="site-footer">
  <div class="footer-container">
    
    <div class="site-branding">
      <a href="/admin/login">
        <img src="https://i.ibb.co/rGKBRhpn/Logo-Editorial-Fix.png" alt="Logo Editorial R Novaretti" class="site-logo">
      </a>
    </div>

    <div class="footer-socials">
      <a href="https://wa.me/526567689311?text=Hola%20Editorial" class="social-icon whatsapp" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="https://www.instagram.com/editorial_rnovaretti01" class="social-icon instagram" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/people/Editorial-R-Novaretti/61566009377306/" class="social-icon facebook" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>

    <p class="footer-info">
      © 2026 Editorial R Novaretti <span class="trademark">®</span> · Ciudad Juárez, Chihuahua
    </p>
    
  </div>
</footer>
</body>
</html>
