</main>

<footer class="site-footer">
  <div class="site-branding">
  <img
    src="https://live.staticflickr.com/65535/55048479064_99b443a26b_b.jpg"
    alt="Logo Editorial R Novaretti"
    class="site-logo"
  >
  </div>
  <p>© 2026 Editorial R Novaretti <span class="trademark">®</span> · Ciudad Juárez, Chihuahua</p>
  <div class="footer-whatsapp">
      <a
        href="https://wa.me/526567689311?text=Hola%20me%20gustaría%20solicitar%20una%20cotización%20para%20un%20proyecto%20editorial"
        class="whatsapp-toggle"
        target="_blank"
        aria-label="Contactar por WhatsApp"
      >
  💬
      </a>
    <div class="whatsapp-menu">
      <a
        href="https://wa.me/526567689311?text=Hola%20me%20gustaría%20solicitar%20una%20cotización%20para%20un%20proyecto%20editorial"
        target="_blank"
      >
        📞 Raúl
      </a>
    </div>
  </div>

</div>

<div class="footer-whatsapp">
      <a
        href="https://www.instagram.com/editorial_rnovaretti01"
        class="whatsapp-toggle instagram"
        target="_blank"
        aria-label="Instagram"
      >
        <img
          src="https://live.staticflickr.com/65535/55046383827_d2d6265162_h.jpg"
          alt="Instagram Editorial R Novaretti"
        >
      </a>
</div>
</footer>


</body>
</html>
