<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Editorial R Novaretti</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link
  rel="icon"
  type="image/png"
  href="https://live.staticflickr.com/65535/55048479064_99b443a26b_b.jpg"
  />
</head>
<body>

<header class="site-header">
  <div class="site-branding">
  <img
    src="https://live.staticflickr.com/65535/55048479064_99b443a26b_b.jpg"
    alt="Logo Editorial R Novaretti"
    class="site-logo"
  >
  <h1>Editorial R Novaretti <span class="trademark">®</span></h1>
  </div>
  <nav>
    <a href="/">Inicio</a>
    <a href="/servicios">Servicios</a>
    <a href="/quienes-somos">Quiénes somos</a>
    <a href="/portafolio">Portafolio</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>

<main class="container">