<%- include('partials/header') %>

<article class="portfolio-item">  
    <div class="portfolio-author">
      <div class="portfolio-media">
        <img src="https://live.staticflickr.com/65535/55048502623_735057f688_n.jpg" alt="Raúl E. Ruiz Hernández">
      </div>
      <h3>Raúl E. Ruiz Hernández</h3>
      <p>Fundador</p>
    </div>

    <div class="portfolio-book">
      <div class="portfolio-media">
        <img src="https://live.staticflickr.com/65535/55048585370_74b1e08ef0_m.jpg" alt="Iván Salamanca">
      </div>
      <h3>Lorenzo Iván Salamanca Córdoba</h3>
      <p>Editor Bilingüe</p>
    </div>
</article>

<h2>Quiénes somos</h2>

<p>
  Fundada en 2021, Editorial R Novaretti <span class="trademark">®</span> surge de la necesidad de los autores
  independientes por contar con un respaldo editorial para publicar sus primeras obras.
</p>

<p>
  Con el paso del tiempo, hemos conectado historias de vida, investigaciones
  y proyectos culturales con el público adecuado, consolidándonos como una
  editorial accesible y competitiva en la localidad.
</p>

<h3>Nuestra misión</h3>
<p>
  Hacer que cada voz sea escuchada, enriquecer la cultura y la educación,
  y promover el hábito de la lectura.
</p>


<%- include('partials/footer') %>
