<%- include('partials/header') %>

<h2>Quiénes somos</h2>

<p>
  Fundada en 2021, Editorial R Novaretti ® surge de la necesidad de los autores
  independientes por contar con un respaldo editorial para publicar sus primeras obras.
</p>

<p>
  Con el paso del tiempo, hemos conectado historias de vida, investigaciones
  y proyectos culturales con el público adecuado, consolidándonos como una
  editorial accesible y competitiva en la localidad.
</p>

<h3>Nuestra misión</h3>
<p>
  Hacer que cada voz sea escuchada, enriquecer la cultura y la educación,
  y promover el hábito de la lectura.
</p>

<%- include('partials/footer') %>
