<%- include('partials/header') %>

<h2>Contacto</h2>

<p>Solicita una cotizaci칩n o escr칤benos directamente:</p>

<ul class="contact">
  <li> <a href="mailto:seathon78@gmail.com">
      游닎 seathon78@gmail.com
    </a></li>
  <li> <a href="mailto:ivanblued@gmail.com">
      游닎 ivanblued@gmail.com
    </a></li>
  <li>
    
    <a href="https://wa.me/526567689311?text=Hola%20me%20gustar칤a%20solicitar%20una%20cotizaci칩n%20para%20un%20proyecto%20editorial"
       target="_blank">
      游 Contactar a Ra칰l por WhatsApp
    </a>
  </li>

  <li>
    
    <a href="https://wa.me/526563956075?text=Hola%20me%20gustar칤a%20solicitar%20una%20cotizaci칩n%20para%20un%20proyecto%20editorial"
       target="_blank">
      游 Contactar a Iv치n por WhatsApp
    </a>
  </li>
</ul>

<%- include('partials/footer') %>
