<%- include('partials/header') %>

<section class="contacto-section">
    <h2>Contacto</h2>
    <p>Solicita una cotización o escríbenos directamente:</p>
    
    <div class="contacto-links">
        <a href="mailto:seathon78@gmail.com">
            <i class="fas fa-envelope"></i> seathon78@gmail.com
        </a>
        <a href="mailto:ivanblued@gmail.com">
            <i class="fas fa-envelope"></i> ivanblued@gmail.com
        </a>
        <a href="https://wa.me/526567689311" target="_blank">
            <i class="fab fa-whatsapp"></i> Contactar por WhatsApp
        </a>
    </div>

    <p>Síguenos en nuestras redes:</p>
    <div class="social-icons-container">
        
      <a href="https://www.instagram.com/editorial_rnovaretti01" class="social-icon instagram" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/profile.php?id=61566009377306" class="social-icon facebook" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
        </div>
</section>

<%- include('partials/footer') %>
