<%- include('partials/header') %>

<section class="hero">
  <h2>Tu editorial de confianza</h2>
  <p>
    En Editorial R Novaretti <span class="trademark">®</span> transformamos tu manuscrito en un libro profesional,
    acompañándote desde la corrección hasta la publicación.
  </p>

  <a href="/contacto" class="btn">Solicita una cotización</a>
</section>

<section>
  <h3>¿Qué hacemos?</h3>
  <p>
    Trabajamos con autores independientes, proyectos culturales y académicos,
    ofreciendo servicios editoriales completos en español e inglés.
  </p>
</section>

  <article class="portfolio-item">  
    <div class="portfolio-author">
      <div class="portfolio-media">
        <img src="https://live.staticflickr.com/65535/55047575960_af5bb6219e_m.jpg" alt="Raúl E. Ruiz Hernández">
      </div>
      <h3>Raúl E. Ruiz Hernández</h3>
      <p>Fundador</p>
    </div>

    <div class="portfolio-book">
      <div class="portfolio-media">
        <img src="https://live.staticflickr.com/65535/55047234691_455b42d845_b.jpg" alt="Noble Blood">
      </div>
      <h3>Noble Blood</h3>
      <p>Saga de libros escrita por Raúl E. Ruiz Hernández</p>
    </div>
  </article>

<%- include('partials/footer') %>
