<%- include('partials/header') %>

<div class="anuncios-container">
    <section class="anuncios-header">
        <h1>Anuncios y Novedades</h1>
        <p>Mantente al tanto de los próximos lanzamientos y noticias de Editorial R Novaretti.</p>
    </section>

    <section class="anuncio-destacado-minimal">
        <img src="https://live.staticflickr.com/65535/55204552342_3f0a316cc5_h.jpg" alt="Feria del libro de la frontera" class="imagen-fondo">
        <div class="superposicion-texto">
            <h2>Únete a nosotros en la Feria del Libro de la Frontera</h2>
            <p>22-30 de Mayo | Centro Cultural Paso del Norte </p>
            <div class="contenedor-botones">
                <a href="/servicios" class="btn-minimal">
                    Descubre nuestros servicios editoriales
                </a>
                <a href="https://www.facebook.com/people/Editorial-R-Novaretti/61566009377306/" class="btn-minimal btn-icon" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>
   
    <section class="anuncio-destacado-minimal">
        <img src="https://live.staticflickr.com/65535/55205686269_b56b7269af_h.jpg" alt="Los Sacrificios de Sara" class="imagen-fondo">
        <div class="superposicion-texto">
            <h2>Los Sacrificios de Sara</h2>
            <p>Segunda Edición | Nueva Portada</p>
            <div class="contenedor-botones">
                <a href="/contacto" class="btn-minimal">
                    Solicita una copia del libro
                </a>
                <a href="https://www.facebook.com/people/Editorial-R-Novaretti/61566009377306/" class="btn-minimal btn-icon" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>

    <h2>Anuncios Pasados</h2>

    <section class="anuncio-destacado-minimal">
        <img src="https://live.staticflickr.com/65535/55204537027_139a3ef7be_b.jpg" alt="Pila de libros en Xpo Libro" class="imagen-fondo">
        <div class="superposicion-texto">
            <h2>Únete a nosotros en Xpo Libro</h2>
            <p>10-12 de Abril | Alameda Iglesias</p>
            <div class="contenedor-botones">
                <a href="/servicios" class="btn-minimal">
                    Descubre los servicios editoriales disponibles
                </a>
                <a href="https://www.facebook.com/people/Editorial-R-Novaretti/61566009377306/" class="btn-minimal btn-icon" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer') %>