<%- include('partials/header') %>

<main class="container">
    <section class="anuncios-header">
        <h1>Anuncios y Novedades</h1>
        <p>Mantente al tanto de los próximos lanzamientos y noticias de Editorial R Novaretti.</p>
    </section>

    <section class="anuncio-destacado-minimal">
        <img src="https://scontent.fcjs4-1.fna.fbcdn.net/v/t39.30808-6/660805802_122118959228533645_3523931356775238860_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=7b2446&_nc_ohc=6RciGehuScAQ7kNvwGY6X83&_nc_oc=Adp9nRyxWlwbxosCHjcZqB_Trx1Ltxdl1yvjGlLNDqSqOM3wDDea3r9nwT59vux25ZxAsSRHMe3rCow0HVLrXrDz&_nc_zt=23&_nc_ht=scontent.fcjs4-1.fna&_nc_gid=yun6F8obq6HscdjtnDcHVQ&_nc_ss=7a389&oh=00_Af1WQXu6ENXjaeaz_ewMPJMAinH9p99sYo_BMMEI0Z-Q4Q&oe=69D4FE7A" alt="Pila de libros en Xpo Libro" class="imagen-fondo">
        <div class="superposicion-texto">
            <h2>Únete a nosotros en Xpo Libro</h2>
            <p>10-12 de Abril | Alameda Iglesias</p>
            <div class="contenedor-botones">
                <a href="/servicios" class="btn-minimal">
                    Descubre los servicios editoriales disponibles
                </a>
                <a href="https://www.facebook.com/people/Editorial-R-Novaretti/61566009377306/" class="btn-minimal btn-icon" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>
    <section class="anuncio-destacado-minimal">
        <img src="https://scontent.fcjs4-1.fna.fbcdn.net/v/t39.30808-6/658948856_122119089152533645_4987592018624133593_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=13d280&_nc_ohc=U6Scf7SIaoAQ7kNvwFx6upn&_nc_oc=AdrAj90nTyRFrIYpxgR_MNOyxpxhwsgmzePR3jK9UoJH3ziIY42Euj4K4oMK9uXS-tgp1twDeIp3u-DtHFKoQT2K&_nc_zt=23&_nc_ht=scontent.fcjs4-1.fna&_nc_gid=MndKF1bCkKGEIdVWuhOIOw&_nc_ss=7a3a8&oh=00_Af0EVpbPLc0Zv3P_UaBiMeT89G-nY_Jnz_fG-0B_ugmZ9A&oe=69D4ECA8" alt="Los Sacrificios de Sara" class="imagen-fondo">
        <div class="superposicion-texto">
            <h2>Los Sacrificios de Sara</h2>
            <p>Segunda Edición | Nueva Portada</p>
            <div class="contenedor-botones">
                <a href="/contacto" class="btn-minimal">
                    Solicita una copia del libro
                </a>
                <a href="https://www.facebook.com/people/Editorial-R-Novaretti/61566009377306/" class="btn-minimal btn-icon" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>
</main>

<%- include('partials/footer') %>